
@{
    ViewData["Title"] = "ReviewChange";
}

@model ReviewModel

<h1>Review Change</h1>
<h2>@Model.Restaurant.name</h2>

<form action="../Review/ReviewChange" method="post">
    <input type="hidden" name="restaurantId" value="@Model.Restaurant.id" />
    <label>Update</label>
    <input type="radio" name="change" value="Update" />
    <label>Delete</label>
    <input type="radio" name="change" value="Delete" />
    <input type="hidden" name="RestaurantName" value="@Model.Restaurant.name" />
    <label>Review Price</label>
    <input type="number" name="ReviewOfPrice" value="@Model.UpdateRestaurantReview.ReviewOfPrice" min="1" max="5" />
    @for (int i = 0, x = 1; i < Model.Restaurant.categories.Count; i++, x++)
    {
        <label>Review @Model.Restaurant.categories[i].title</label>
        <input type="number" name=@($"Type{x}Name") value="@Model.Restaurant.categories[i].title" min="1" max="5" />
    }
        <label>Review Rating</label>
        <input type="number" name="ReviewOfRating" value="@Model.UpdateRestaurantReview.ReviewOfRating" min="1" max="5" />
        <input type="submit" value="Change" />
    </form>
