
@{
    ViewData["Title"] = "PreferenceIndex";
}

@model List<Preferences>

<h1>Preference List</h1>

<h3>Add Your User Preferences!</h3>
@if (Model.Count < 3)
{
    <p style="color:red">Please add at least 3 Preferences!</p>
}
@if (Model.Count == 0)
{
    <form action="../Snack/PreferenceIndex" method="post">
        <label>Choose 3 Random Preferences for me!</label>
        <input type="checkbox" name="random" value="Random" />
        <input type="submit" value="Submit" />
    </form>
}

@if (Model != null)
{
    <table class="table table-bordered">
        <tr>
            <th>User Preference</th>
            <th>Rating</th>
        </tr>
        @foreach (var pref in Model)
        {
            <tr>
                <td>@pref.Name</td>
                <td>@pref.Rating</td>
            </tr>
        }

    </table>
}
@{
    List<string> userCats = new List<string>();
}
@foreach (var pref in Model)
{
    userCats.Add(pref.Name);
}

<h5>Choose categories in form below:</h5>
<form action="../Snack/PreferenceAdd">
    <select name="category">
        @foreach (var category in Categories.Category)
        {
            if (!userCats.Contains(category))
            {
                <option value="@category">
                    @category
                </option>
            }
        }
    </select>
    <input type="number" name="Rating" min="1" max="5" />
    <input type="submit" value="Submit" />
</form>

<form action="../Snack/PreferenceChange" method="post">
    <label>Update</label>
    <input type="radio" name="change" value="Update" />
    <label>Delete</label>
    <input type="radio" name="change" value="Delete" />
    <select name="id">
        @foreach (var prefs in Model)
        {
            <option value="@prefs.PreferenceId">@prefs.Name</option>
        }
    </select>
    <input type="number" name="rating" min="1" max="5" />
    <input type="submit" value="Change" />
</form>

@if (ViewBag != null)
{
    <p>@ViewBag.Average.ToString("0.#")  User Price Preference</p>
}